{% extends 'base.html' %}

{% block body %}
<div class="container text-center">
    <div class="row">
      <div class="col">
        <img
          <img
          src="/static/CloudsPNG.png"
          class="rounded mx-auto d-block"
          width="150"
          height="150"
          alt="..."
        />
      </div>
      <div class="col-5">
        <h1 class="display-4 text-center">Any Feedback for Us?</h1> 
        <a href="/blog/new" class="btn btn-light btn-sm mt-5" role="button">Add a post here</a>
      </div>
      <div class="col">
        <img
          <img
          src="/static/CloudsPNG.png"
          class="rounded mx-auto d-block"
          width="150"
          height="150"
          alt="..."
        />
      </div>
    </div>
  </div>
<br>
{% if blogs %}
    {% for blog in blogs %}
        <div class="container row border-bottom">
            <div class="col-2">
                {% if loop.index == 1 %}
                <h3 class="display-6">Date</h3>
                {% endif %}

                <a href="/blog/{{blog.id}}">
                    {{moment(blog.create_date).calendar()}}
                </a>
            </div>
            <div class="col-2">
                {% if loop.index == 1 %}
                <h3 class="display-6">User</h3>
                {% endif %}
                {{blog.author.fname}} {{blog.author.lname}}
            </div>
            <div class="col">
                {% if loop.index == 1 %}
                    <h3 class="display-6">Subject</h3>
                {% endif %}
                {{blog.subject}}
            </div>
        </div>
    {% endfor %}
{% else %}

{% endif %}

{% endblock %}