{% extends 'base.html' %} {% block body %}
<div>
  <img
    src="/static/CloudsPNG.png"
    class="rounded float-end"
    width="200"
    height="200"
    alt="..."
  />
  <img
    src="/static/CloudsPNG.png"
    class="rounded float-end"
    width="200"
    height="200"
    alt="..."
  />
  <img
    src="/static/CloudsPNG.png"
    class="rounded float-start"
    width="200"
    height="200"
    alt="..."
  />

  <h1 class="display-4 text-center">Welcome!</h1>
  <h1 class="display-6 text-center">to</h1>
  <h1 class="display-4 text-center">SEE-U-Grow</h1>
  <p></p>
  <p></p>

  <div class="container text-left display-7 text-center border border-5 white">
    <div class="row">
      <div class="col">
        <br />
        Our Misson Statement:<br />
        The goal is to create an app for people with low self-esteem to help
        them improve their self-image and mental health for happy/healthy
        habits.
        <p></p>
      </div>
    </div>
  </div>

  <img
    src="/static/CloudsPNG.png"
    class="rounded float-end"
    width="200"
    height="200"
    alt="..."
  />
  <img
    src="/static/CloudsPNG.png"
    class="rounded float-end"
    width="200"
    height="200"
    alt="..."
  />
  <img
    src="/static/CloudsPNG.png"
    class="rounded float-start"
    width="200"
    height="200"
    alt="..."
  />
  <p></p>
  <div
    id="carouselExampleInterval"
    class="carousel slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="5000">
        <img
          src="\static\comfort.webp"
          class="d-block w-100 img-fluid"
          alt="..."
        />
      </div>
      <div class="carousel-item" data-bs-interval="5000">
        <img
          src="\static\counseling.jpg"
          class="d-block w-100 img-fluid"
          alt="..."
        />
      </div>
      <div class="carousel-item" data-bs-interval="5000">
        <img
          src="\static\purplebrain.webp"
          class="d-block w-100 img-fluid"
          alt="..."
        />
      </div>
    </div>
  </div>
</div>
{% endblock %}