<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}

<h1 class="display-4 text-center ">Overview</h1>
<p></p>
<div class="row">
    <div class="col-5 mx-5 my-5 border border-5">
        <h1 class="display-5 text-center">Background</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div class="col-5 me-5 mb-5 border border-5">
        <p></p>
        <h1 class="display-6 text-center">Context</h1>
        <p>Libero nunc consequat interdum varius sit amet. Condimentum mattis pellentesque id nibh tortor. Tempus iaculis urna id volutpat. Cursus risus at ultrices mi tempus imperdiet nulla.</p>
    </div>
    <div class="container text-center border border-5 ">
        <h1 class="display-4 container text-center">Little About Us</h1>
        <p>Our names are Nancy Hernandez and Jennifer Amador Pena. We are both seniors in the Computer Science Academy.</p>
    </div>   
</div>
{% endblock %}