<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %} {% block body %}

<h1 class="display-4 text-center">Overview</h1>
<p></p>
<div class="row">
  <div class="col-5 mx-5 my-5 border border-5">
    <h1 class="display-5 text-center">Background</h1>
    <p>
      Roughly 85% of people worldwide have low self-esteem. There are a plethora of root causes: fear of failure, difficult/unhappy childhood, poor academic performance, abusive relationships, social media, etc. 
    </p>
  </div>
  <div class="col-5 me-5 mb-5 border border-5">
    <p></p>
    <h1 class="display-6 text-center">Dangers of Low Self-Esteem</h1>
    <p>
      Having a smaller feeling of self-worth can affect individuals physically, emotionally, and mentally. It can cause a large range of anxiety, from worried thoughts to physical problems like high blood pressure. It can lead to depression - depressed mood or loss of pleasure or interest in activities for long periods of time. Lastly, it can lead to self-harm.
    </p
  </div>
  <div class="container text-center border border-5">
    <h1 class="display-4 container text-center">Little About Us</h1>
    <p>
      Our names are Nancy Hernandez and Jennifer Amador Pena. We are both
      seniors in the Computer Science Academy.
    </p>
  </div>
</div>
{% endblock %}
